<h1>Goodbye!</h1>

<p>
It was nice having you here. It's again back --> ;-) can you see it?
</p>

<p>
Say <%= link_to "Hello", say_hello_path %> again.
</p>

<p>
there are some files <%= @files %> but don't even look at theme
</p>
